<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<carousel class="text-center" *ngIf="homeImageList">
					<slide *ngFor="let imageObj of homeImageList">
						<a href="videos/video-1" #image (click)="preventNormal($event, image)"><img class="img-main-carousel" [src]="imageObj.image"></a>
						<div class="carousel-caption">
							<h3>{{imageObj.name}}</h3>
							<p><a class="btn btn-default" href="/videos/{{imageObj.slug}}">View</a></p>
						</div>
					</slide>	
				</carousel>
			</div>
		</div>
	</div>	
</div>